body{
	margin: 0px;  
}
  
div#mybody{
  	max-width: 800px;
	background-color: white;
  	margin: auto;
	padding: 0.5rem;
}


#navi{
  	font-size: 1rem;
   	list-style-type: none;
    float : right;
    text-align : right;
}

div[data-menuButton]{
    position: relative;
    background-size : contain;
    cursor : pointer;
}

div[data-menuButton] > div{
    background-color : rgba(255,255,255,0.8);
    position: absolute;
    bottom : 0;
    width: 100%;
}

#navi > div{
    cursor: pointer;
    width : 12vw;
    height : 12vw;
    max-width: 4rem;
    max-height: 4rem;
    display: inline-block;
    font-size: 0.8rem;
    text-align: left;
    overflow: hidden;
}


#currentContent > div{
    width : 24vw;
    height : 24vw;
    max-width: 10rem;
    max-height: 10rem;
    float : left;
    font-size : 5vw;
    text-align: center;
}

.welcome{
    background-image : url("../img/level7.png");
}
.profile{
    background-image : url("../img/1_lv2.png");
}
.work{
    background-image : url("../img/2_lv3.png");
}
.publication{
    background-image : url("../img/4_lv2.png");
}
.appearances{
    background-image : url("../img/3_lv3.png");
}
.link{
    background-image : url("../img/5_lv2.png");
}
.game{
    background-image : url("../img/10_lv4.png");
}


div#message{
  	clear: both;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: 1.5;
}
  
.pointer{
  	cursor: pointer;
}

TABLE {
    border-width: 0px;
}

TD {
    border-width: 2px; border-color: darkgreen; padding: 3px; border-style: solid;
}


/* profile */

div#favorites img{
    height : 3rem;
    width : 3rem;
}

/* end of profile */

/* work */

div.work-imgArea{
    width:100%;
    text-align: center;
}

div.work-imgArea div{
    vertical-align: middle;
    display:inline-block;
}

div.work-imgArea p{
    margin-top: 0;
}

.work-imgArea img[src*="logo"]{
    width: 100%;
    max-width: 500px;
}

.work-imgArea img[src*="lifelog"],
.work-imgArea img[src*="context"]
{
    max-height: 230px;
    max-width: 100%;
}

.work-imgArea img[src*="conmon"]{
    max-height: 300px;
    max-width: 30%;
}

.work-imgArea img[src*="evo"],
.work-imgArea img[src*="various"]{
    height: auto;
    max-height: 125px;
    max-width: 100%;
}

img.apple-badge{
    width: 164px;
}

img.google-badge{
    width: 140px;
    margin: 12px;
}

/* end of work */

/* game */

div#mayo1 > img , div#m2_game > img {
    width: 14vw;
    height: 14vw;
    max-width: 100px;
    max-height: 100px;
}

/* end of game */